
@{
    ViewBag.Title = "CommodityPage";
}

<!DOCTYPE html>

<table>
    <tr>
        <td>添加类别</td>
        <td><input id="Text1" type="text" /></td>
    </tr>
</table>

<input id="Button1" type="button" onclick="add() " value="添加" />

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate-vsdoc.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script>

    function add() {
        var info = {
            TypeName: $("#Text1").val(),
        }
        $.ajax({
            url: "/Commodity/CommodityTypeAdd",
            type: "POST",
            dataType: "JSON",
            data: info,
            success: function (res) {
                if (res.CommTypeSuccess == true) {
                    alert("添加成功");
                }
                else {
                    alert("添加失败");
                }
            }
        })
    }



</script>
