
@{
    Layout = null;
}

<!DOCTYPE html>

<table>
    <tr>
        <td>商品名称:</td>
        <td><input id="Text1" type="text" /></td>
    </tr>
    <tr>
        <td>商品分类:</td>
        <td>
            <select id="Select1">
                <option></option>
            </select>
        </td>
    </tr>
    <tr>
        <td>商品图片:</td>
        <td>
            <input id="File1" type="file" />
        </td>
    </tr>
    <tr>
        <td>商品价格:</td>
        <td><input id="Text3" type="text" /></td>
    </tr>
    <tr>
        <td>商品详情:</td>
        <td><input id="Text4" type="text" /></td>
    </tr>
    <tr>
        <td>上架状态:</td>
        <td>
            <input id="Radio1" type="radio" name="res" value="1" /> 上架
            <input id="Radio2" type="radio" name="res" value="0" />  不上架
        </td>
    </tr>
    <tr>
        <td>商品销售量:</td>
        <td><input id="Text5" type="text" /></td>
    </tr>
    <tr>
        <td>商品库存:</td>
        <td><input id="Text6" type="text" /></td>
    </tr>
</table>
<input id="Button1" type="button" value="添加商品" onclick="CommAdd()" />


<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate-vsdoc.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script>

    //绑定  //绑定
    $().ready(function () {

        $.ajax({
            url: "/Commodity/CommodityBindType",
            type: "POST",
            dataType: "JSON",
            success: function (res) {
                $(res.CommodityTypesSuccess).each(function () {
                    var sp = "<option value=" + this.CtypeId + ">" + this.TypeName + "</option>";
                    $("#Select1").append(sp);
                })
            }
        })
    })

    function CommAdd() {
        var info = {
            CommodName: jQuery("#Text1").val(),
            SystematicId: jQuery("#Select1").val(),
            CommodityImg: jQuery("#File1").val(),
            CommodityPrice: jQuery("#Text3").val(),
            CommodityDetalis: jQuery("#Text4").val(),
            RegisterDate: jQuery("input[name='res']:checked").val(),
            PutNumber: jQuery("#Text4").val(),
            CountNumber: jQuery("#Text6").val()
        };

        $.ajax({
            url: "/Commodity/CommodityAddadd",
            dataType: "json",
            type: "Post",
            data: info,
            success: function (res) {
                if (res > 0) {
                    alert("添加成功");
                    location.href = "/Commodity/CommodityPage";
                }
                else {
                    alert("添加失败");
                }
            }
        })
    }



</script>