
@{
    //ViewBag.Title = "CommodityPage";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>添加商品</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/css/layui.css" rel="stylesheet" media="all" />
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>

    <div class="layui-form-item">
        <label class="layui-form-label">商品名称</label>
        <div class="layui-input-inline">
            <input type="text" name="username" id="name" lay-verify="required" placeholder="请输入商品名称" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">商品类别</label>
        <div class="layui-input-inline">
            <form action="/" method="post">
                <select id="xiala" class="layui-input">
                </select>
            </form>

        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">添加图片</label>
        <div class="layui-input-inline">
            <form id="fid" method="post">
                <input name="img" type="file" />
            </form>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">商品价格</label>
        <div class="layui-input-inline">
            <input type="text" name="username" id="price" lay-verify="required" placeholder="请输入商品价格" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">商品详情</label>
            <div class="layui-input-block">
                <input type="text" name="date" id="date1" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">商品销售量</label>
            <div class="layui-input-block">
                <input type="text" name="date" id="date2" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">商品库存</label>
            <div class="layui-input-block">
                <input type="text" name="date" id="kucun" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>

    <input id="Button1" type="button" value="添加" class="layui-btn" lay-submit="" lay-filter="demo2" onclick="add()" />
    <script src="~/Scripts/Comt/layui.js" charset="utf-8"></script>
    <!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->



</html>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery.validate-vsdoc.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script>

    //绑定  //绑定
    $().ready(function () {
        $.ajax({
            url: "/Commodity/CommodityBindType",
            type: "POST",
            dataType: "JSON",
            success: function (res) {
                var sp = "";
                $(res.CommodityTypesSuccess).each(function () {
                    sp += "<option value=" + this.CtypeId + ">" + this.TypeName + "</option>";
                })
                $("#xiala").append(sp);
            }
        })
    })

    //添加商品
    function add() {
        var Img = new FormData(($("#fid")[0]));
        $.ajax({
            url: "/Uplod.ashx",
            type: "POST",
            data: Img,
            contentType: false,
            processData: false,
            success: function (data) {
                var info = {
                    CommodName: $("#name").val(),
                    SystematicId: $("#xiala").val(),
                    CommodityImg: data,
                    CommodityPrice: $("#price").val(),
                    CommodityDetalis: $("#date1").val(),
                    PutNumber: $("#date2").val(),
                    CountNumber: $("#kucun").val()
                };
                $.ajax({
                    url: "/Commodity/CommodityAddadd",
                    type: "POST",
                    dataType: "Json",
                    data: info,
                    success: function (res) {
                        if (res.CommoditySuccess == true) {
                            alert("添加成功");
                            location.href = "/Commodity/CommodityShows";
                        }
                        else {
                            alert("添加失败");
                        }
                    }
                })
            }
        })

    }




</script>
</body>



