
@{
    ViewBag.Title = "HomePage";
}

    <html>
    <head>
        <meta charset="utf-8">
        <title>carousel模块快速使用</title>
        <link href="~/Content/LayUI/layui.css" rel="stylesheet" />
    </head>
    <body>
        <div class="layui-carousel" id="test1">
            <div carousel-item>
                <div >
                    <img style="width: 100%; height: 100%;"  src="~/Content/LayUI/font/IMG/1.png" />
                </div>
                <div>
                    <img style="width: 100%; height: 100%;" src="~/Content/LayUI/font/IMG/2.png" />
                </div>
                <div>
                    <img style="width: 100%; height: 100%;" src="~/Content/LayUI/font/IMG/3.png" />
                </div>
                <div>
                    <img style="width: 100%; height: 100%;" src="~/Content/LayUI/font/IMG/4.png" />
                </div>
                <div>
                    <img style="width: 100%; height: 100%;" src="~/Content/LayUI/font/IMG/5.png" />
                </div>
                <div>
                    <img style="width: 100%; height: 100%;" src="~/Content/LayUI/font/IMG/6.png" />
                </div>
                <div>
                    <img style="width: 100%; height: 100%;" src="~/Content/LayUI/font/IMG/7.png" />
                </div>
            </div>
        </div>

        <!-- 条目中可以是任意内容，如：<img src=""> -->
        <script src="~/Content/LayUI/layui.js"></script>
        <script>
            layui.use('carousel', function () {
                var carousel = layui.carousel;
                //建造实例
                carousel.render({
                    elem: '#test1'
                    , width: '100%' //设置容器宽度
                    ,height:'50%'//设置高度
                    , arrow: 'always' //始终显示箭头
                    , autoplay: true
                    ,interval:3000
                   //,anim: 'updown' //切换动画方式
                });
            });
        </script>
    </body>
    </html>